<div class="main-container">
    <div class="header-container">
        <div class="header-logo-box">
            <img width="40px" height="40px" src="https://img.pngio.com/filefacebook-f-logo-2019svg-wikipedia-facebook-query-language-png-1200_1200.png" alt="File:Facebook f logo (2019).svg - Wikipedia">
        </div>
        <div class="header-search-box">
            <input id="search-input" class="search-input" type="search" placeholder="Search Facebook"/>
        </div>
        <div class="header-settings-box">
            <img class="clip-profile-image" alt="Anil Sambasivan" src="https://scontent.fcok4-1.fna.fbcdn.net/v/t1.0-1/p100x100/89763750_2959442404078918_4882784736402997248_o.jpg?_nc_cat=104&_nc_sid=7206a8&_nc_ohc=fO9IiHvZmEUAX_MYW1Y&_nc_ht=scontent.fcok4-1.fna&tp=6&oh=1a849599aacac567e32ecf1e295f939e&oe=5F93CB20">
        </div>
    </div>
    <div style="color: #ffffff;">
        Market place application module loaded
    </div>
</div>