<p>app-list works!</p>
<div class="body-container">
    <div class="body-nav">
        <ul>
            <li>
                <img class="clip-left-nav-image" alt="Anil Sambasivan" src="https://scontent.fcok4-1.fna.fbcdn.net/v/t1.0-1/p100x100/89763750_2959442404078918_4882784736402997248_o.jpg?_nc_cat=104&_nc_sid=7206a8&_nc_ohc=fO9IiHvZmEUAX_MYW1Y&_nc_ht=scontent.fcok4-1.fna&tp=6&oh=1a849599aacac567e32ecf1e295f939e&oe=5F93CB20">
                <span class="left-padding-10">Anil Sambasivan</span>
            </li>
            <li>
                <img class="clip-left-nav-image" alt="Anil Sambasivan" src="https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/sKGCLPJET4B.png">
                <span class="left-padding-10">Messenger</span>
            </li>
            <li>
                <img class="clip-left-nav-image" alt="Anil Sambasivan" src="https://static.xx.fbcdn.net/rsrc.php/v3/y4/r/MN44Sm-CTHN.png">
                <span class="left-padding-10">Market Place</span>
            </li>
            <li>
                <img class="clip-left-nav-image" alt="Anil Sambasivan" src="https://static.xx.fbcdn.net/rsrc.php/v3/y-/r/FhOLTyUFKwf.png">
                <span class="left-padding-10">Videos</span>
            </li>
            <li>
                <img class="clip-left-nav-image" alt="Anil Sambasivan" src="https://static.xx.fbcdn.net/rsrc.php/v3/yg/r/JQCVtO0LVjk.png">
                <span class="left-padding-10">Games</span>
            </li>
            <li>
                <img class="clip-left-nav-image" alt="Anil Sambasivan" src="https://static.xx.fbcdn.net/rsrc.php/v3/yC/r/I6ojwg_zmx9.png">
                <span class="left-padding-10">Live Videos</span>
            </li>
            <li>
                <img class="clip-left-nav-image" alt="Anil Sambasivan" src="https://static.xx.fbcdn.net/rsrc.php/v3/yF/r/VoY5lgHtw8x.png">
                <span class="left-padding-10">Jobs</span>
            </li>
            <li>
                <img class="clip-left-nav-image" alt="Anil Sambasivan" src="https://static.xx.fbcdn.net/rsrc.php/v3/y2/r/CToz82jp77m.png">
                <span class="left-padding-10">Weather</span>
            </li>
            <li>
                <img class="clip-left-nav-image" alt="Anil Sambasivan" src="https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/vEc1FLp5rSK.png">
                <span class="left-padding-10">Most Recent</span>
            </li>
        </ul>
    </div>
    </div>
