<p>contacts works!</p>
<div class="body-contacts">
    <div class="contact-search-header-container">
        <div class="app-title">Contacts</div>
        <div class="contact-search-container"><input class="search-contacts" type="search" placeholder="Search Contacts" /></div>
    </div>
    <ul>
        <li>
            <img class="clip-left-nav-image" alt="Anil Sambasivan" 
            src="https://scontent.fcok4-1.fna.fbcdn.net/v/t1.0-1/cp0/p74x74/106092468_10158582267704339_8126348668164941871_n.jpg?_nc_cat=103&_nc_sid=7206a8&_nc_ohc=B_DNB36a02wAX-8LBHR&_nc_ht=scontent.fcok4-1.fna&_nc_tp=27&oh=4346a1cb67e2166f6aadb5e5a46f2e29&oe=5F91453C">
            <span class="left-padding-10">John Doe</span>
        </li>
        <li>
            <img class="clip-left-nav-image" alt="Anil Sambasivan" 
            src="https://scontent.fcok4-1.fna.fbcdn.net/v/t1.0-1/cp0/p74x74/87047089_4007346299280402_3853641951588909056_o.jpg?_nc_cat=106&_nc_sid=7206a8&_nc_ohc=CGPQ6HFvZvYAX9DqH8M&_nc_ht=scontent.fcok4-1.fna&_nc_tp=27&oh=0a0ea3093febdcb64a282c20b4ad1aeb&oe=5F93A5AD">
            <span class="left-padding-10">Surabh Emids</span>
        </li>
        <li>
            <img class="clip-left-nav-image" alt="Anil Sambasivan" 
            src="https://scontent.fcok4-1.fna.fbcdn.net/v/t31.0-1/cp0/c19.0.74.74a/p74x74/1492375_10201645588822050_5613137700929883819_o.jpg?_nc_cat=106&_nc_sid=7206a8&_nc_ohc=YSpb5Qlcn-kAX-JHMyI&_nc_ht=scontent.fcok4-1.fna&_nc_tp=27&oh=017ec6db2ebe44fee4aa85b3105cab95&oe=5F93692E">
            <span class="left-padding-10">Manu Bright</span>
        </li>
        <li>
            <img class="clip-left-nav-image" alt="Anil Sambasivan" 
            src="https://scontent.fcok4-1.fna.fbcdn.net/v/t1.0-1/cp0/p74x74/69447261_2427098573993166_2594722045686185984_o.jpg?_nc_cat=105&_nc_sid=7206a8&_nc_ohc=DMVuPFmEqjUAX_IyM55&_nc_ht=scontent.fcok4-1.fna&_nc_tp=27&oh=7ff8fec215706abd16c1e1204ae8fee6&oe=5F9185F8">
            <span class="left-padding-10">Praveen Kumar</span>
        </li>
    </ul>
</div>
